.side-space
  .side-space_contents-area
    .side-space_contents-area_btn
    = link_to "https://www.facebook.com/", class: "contents__btn" do
      = icon('fab', 'facebook-square')
      Face
    = link_to "https://twitter.com/", class: "contents__btn" do
      = icon('fab', 'twitter')
      Twit
    = link_to "https://www.instagram.com/", class: "contents__btn" do
      = icon('fab', 'instagram')
      Instagram

      